Repository tharun634/cocoindex: changes, and which pre-commit hooks are due for each by the changed paths.
All: maturin-develop, generate-cli-docs, cargo-fmt, cargo-test, mypy-check

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  autoupdate_schedule: 'monthly'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
        # Check for files with names that would conflict on a case-insensitive
        # filesystem like MacOS HFS+ or Windows FAT.
      - id: check-merge-conflict
        # Check for files that contain merge conflict strings.
      - id: check-symlinks
        # Checks for symlinks which do not point to anything.
        exclude: ".*(.github.*)$"
      - id: detect-private-key
        # Checks for the existence of private keys.
      - id: end-of-file-fixer
        # Makes sure files end in a newline and only a newline.
        exclude: ".*(data.*|licenses.*|_static.*|\\.ya?ml|\\.jpe?g|\\.png|\\.svg|\\.webp)$"
      - id: trailing-whitespace
        # Trims trailing whitespace.
        exclude_types: [python]  # Covered by Ruff W291.
        exclude: ".*(data.*|licenses.*|_static.*|\\.ya?ml|\\.jpe?g|\\.png|\\.svg|\\.webp)$"

  - repo: local
    hooks:
        - id: maturin-develop
          name: maturin develop
          entry: maturin develop -E all,dev
          language: system
          files: ^(python/|src/|Cargo\.toml|pyproject\.toml)
          pass_filenames: false

        - id: generate-cli-docs
          name: generate CLI documentation
          entry: python dev/generate_cli_docs.py
          language: system
          files: ^(python/cocoindex/cli\.py|dev/generate_cli_docs\.py)$
          pass_filenames: false

        - id: cargo-fmt
          name: cargo fmt
          entry: cargo fmt
          language: system
          types: [rust]
          pass_filenames: false

        - id: cargo-test
          name: cargo test
          entry: cargo test
          language: system
          types: [rust]
          pass_filenames: false

        - id: mypy-check
          name: mypy type check
          entry: dmypy run python
          language: system
          types: [python]
          pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff-format
        types: [python]
        pass_filenames: true
  
  - repo: https://github.com/christophmeissner/pytest-pre-commit
    rev: 1.0.0
    hooks:
      - id: pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: false

test
  .github/workflows/_test.yml
Due: none

examples test
  .github/workflows/_test.yml
Due: none

add pyproject
  pyproject.toml
Due: maturin-develop

temp
  examples/amazon_s3_embedding/__init__.py
  examples/azure_blob_embedding/__init__.py
  examples/code_embedding/__init__.py
  examples/custom_output_files/__init__.py
  examples/docs_to_knowledge_graph/__init__.py
  examples/face_recognition/__init__.py
  examples/fastapi_server_docker/__init__.py
  examples/gdrive_text_embedding/__init__.py
  examples/gdrive_text_embedding/main.py
  examples/image_search/__init__.py
  examples/image_search/main.py
  examples/live_updates/__init__.py
  examples/manuals_llm_extraction/__init__.py
  examples/multi_format_indexing/__init__.py
  examples/paper_metadata/__init__.py
  examples/patient_intake_extraction/__init__.py
  examples/pdf_embedding/__init__.py
  examples/postgres_source/__init__.py
  examples/product_recommendation/__init__.py
  examples/text_embedding/__init__.py
  examples/text_embedding_lancedb/__init__.py
  examples/text_embedding_qdrant/__init__.py
  pyproject.toml
Due: maturin-develop, mypy-check

feat(docs): move built-in source as top level navigation (#1119)
  docs/docs/sources/index.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
Due: none

test
  examples/image_search/main.py
  pyproject.toml
Due: maturin-develop, mypy-check

test
  examples/amazon_s3_embedding/__init__.py
  examples/azure_blob_embedding/__init__.py
  examples/code_embedding/__init__.py
  examples/custom_output_files/__init__.py
  examples/docs_to_knowledge_graph/__init__.py
  examples/face_recognition/__init__.py
  examples/fastapi_server_docker/__init__.py
  examples/gdrive_text_embedding/__init__.py
  examples/image_search/__init__.py
  examples/live_updates/__init__.py
  examples/manuals_llm_extraction/__init__.py
  examples/multi_format_indexing/__init__.py
  examples/paper_metadata/__init__.py
  examples/patient_intake_extraction/__init__.py
  examples/pdf_embedding/__init__.py
  examples/postgres_source/__init__.py
  examples/product_recommendation/__init__.py
  examples/text_embedding/__init__.py
  examples/text_embedding_lancedb/__init__.py
  examples/text_embedding_qdrant/__init__.py
  pyproject.toml
Due: maturin-develop, mypy-check

[Documentation] fix links (#1124)
  docs/docs/core/flow_methods.mdx
  docs/docs/sources/index.md
Due: none

test
  examples/image_search/colpali_main.py
  examples/image_search/main.py
Due: mypy-check

[documentation] source overview (#1125)
  docs/docs/sources/index.md
  docs/docs/targets/index.md
Due: none

test
  examples/patient_intake_extraction/main.py
  examples/pdf_embedding/main.py
  examples/postgres_source/main.py
Due: mypy-check

test
  examples/custom_output_files/main.py
  examples/face_recognition/main.py
  examples/fastapi_server_docker/main.py
  examples/gdrive_text_embedding/main.py
  examples/pdf_embedding/main.py
  examples/postgres_source/main.py
Due: mypy-check

test
  examples/face_recognition/main.py
  examples/fastapi_server_docker/main.py
  examples/gdrive_text_embedding/main.py
  examples/manuals_llm_extraction/main.py
  examples/paper_metadata/main.py
  examples/pdf_embedding/main.py
  pyproject.toml
Due: maturin-develop, mypy-check

ttest
  pyproject.toml
Due: maturin-develop

test
  examples/face_recognition_embedding/.env
  examples/face_recognition_embedding/README.md
  examples/face_recognition_embedding/__init__.py
  examples/face_recognition_embedding/images/Carter_welcomes_Reagan.jpg
  examples/face_recognition_embedding/images/Solvay_conference_1927.jpg
  examples/face_recognition_embedding/images/Steve_Jobs_and_Bill_Gates_(522695099).jpg
  examples/face_recognition_embedding/images/einplanck3.jpg
  examples/face_recognition_embedding/main.py
  examples/face_recognition_embedding/pyproject.toml
  examples/fastapi_server_docker/main.py
  examples/gdrive_text_embedding/main.py
  examples/image_search/colpali_main.py
  examples/image_search/main.py
  examples/paper_metadata/main.py
  examples/pdf_embedding/main.py
  examples/text_embedding/main.py
Due: mypy-check

test
  examples/paper_metadata/main.py
  python/cocoindex/functions/__init__.py
Due: maturin-develop, mypy-check

ugh
  examples/paper_metadata/main.py
Due: mypy-check

a
  pyproject.toml
Due: maturin-develop

asd
  examples/postgres_source/main.py
  pyproject.toml
Due: maturin-develop, mypy-check

n
  pyproject.toml
Due: maturin-develop

a
  .github/workflows/_test.yml
Due: none

feat: collect additional counter for number of rows that are being processed for stats (#1105)
  src/builder/analyzer.rs
  src/builder/plan.rs
  src/execution/evaluator.rs
  src/execution/live_updater.rs
  src/execution/row_indexer.rs
  src/execution/source_indexer.rs
  src/execution/stats.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat: split convert.py into 2 modules engine_object and engine_value along with splitting of tests (#1120)
  python/cocoindex/auth_registry.py
  python/cocoindex/engine_object.py
  python/cocoindex/engine_value.py
  python/cocoindex/flow.py
  python/cocoindex/lib.py
  python/cocoindex/op.py
  python/cocoindex/tests/test_engine_object.py
  python/cocoindex/tests/test_engine_value.py
Due: maturin-develop, mypy-check

feat(attachment): support target attachment in the core setup engine (#1139)
  python/cocoindex/flow.py
  python/cocoindex/op.py
  src/base/spec.rs
  src/builder/analyzer.rs
  src/builder/exec_ctx.rs
  src/builder/flow_builder.rs
  src/ops/interface.rs
  src/ops/registration.rs
  src/ops/registry.rs
  src/setup/driver.rs
  src/setup/states.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(attachment): create `TargetSpecificAttachmentFactoryBase` (#1140)
  src/ops/factory_bases.rs
  src/ops/interface.rs
  src/setup/states.rs
Due: maturin-develop, cargo-fmt, cargo-test

Feature:Add tests for json_schema.rs (#1133)
  Cargo.lock
  Cargo.toml
  src/base/json_schema.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(postgres-sql-attachments): add `PostgresSqlAttachment` (#1141)
  python/cocoindex/flow.py
  python/cocoindex/targets/_engine_builtin_specs.py
  src/ops/factory_bases.rs
  src/ops/interface.rs
  src/ops/registration.rs
  src/ops/targets/postgres.rs
  src/setup/driver.rs
  src/setup/states.rs
Due: maturin-develop, cargo-fmt, cargo-test, mypy-check

feat(attachment): update tracked states even if no update action needed (#1142)
  src/execution/db_tracking_setup.rs
  src/setup/db_metadata.rs
  src/setup/driver.rs
  src/setup/states.rs
Due: maturin-develop, cargo-fmt, cargo-test

feat(postgres-sql-attachments): allow multiple statements executed (#1143)
  src/ops/targets/postgres.rs
Due: maturin-develop, cargo-fmt, cargo-test

test
  .github/workflows/_test.yml
  examples/amazon_s3_embedding/__init__.py
  examples/azure_blob_embedding/__init__.py
  examples/code_embedding/__init__.py
  examples/custom_output_files/__init__.py
  examples/docs_to_knowledge_graph/__init__.py
  examples/face_recognition_embedding/__init__.py
  examples/fastapi_server_docker/__init__.py
  examples/gdrive_text_embedding/__init__.py
  examples/image_search/__init__.py
  examples/live_updates/__init__.py
  examples/manuals_llm_extraction/__init__.py
  examples/multi_format_indexing/__init__.py
  examples/paper_metadata/__init__.py
  examples/patient_intake_extraction/__init__.py
  examples/pdf_embedding/__init__.py
  examples/postgres_source/__init__.py
  examples/product_recommendation/__init__.py
  examples/text_embedding/__init__.py
  examples/text_embedding_lancedb/__init__.py
  examples/text_embedding_qdrant/__init__.py
Due: mypy-check

test
  examples/face_recognition/.env
  examples/face_recognition/README.md
  examples/face_recognition/images/Carter_welcomes_Reagan.jpg
  examples/face_recognition/images/Solvay_conference_1927.jpg
  examples/face_recognition/images/Steve_Jobs_and_Bill_Gates_(522695099).jpg
  examples/face_recognition/images/einplanck3.jpg
  examples/face_recognition/main.py
  examples/face_recognition/pyproject.toml
  examples/image_search/colpali_main.py
Due: mypy-check

test
  examples/amazon_s3_embedding/main.py
  examples/azure_blob_embedding/main.py
  examples/code_embedding/main.py
  examples/face_recognition/main.py
  examples/fastapi_server_docker/main.py
  examples/gdrive_text_embedding/main.py
  examples/image_search/colpali_main.py
  examples/image_search/main.py
  examples/manuals_llm_extraction/main.py
  examples/multi_format_indexing/main.py
  examples/paper_metadata/main.py
  examples/patient_intake_extraction/main.py
  examples/pdf_embedding/main.py
  examples/postgres_source/main.py
  examples/text_embedding/main.py
  examples/text_embedding_qdrant/main.py
Due: mypy-check

asd
  pyproject.toml
Due: maturin-develop

fix: mypy type errors in the examples and clean up
  examples/amazon_s3_embedding/main.py
  examples/azure_blob_embedding/main.py
  examples/code_embedding/main.py
  examples/custom_output_files/main.py
  examples/face_recognition/main.py
  examples/fastapi_server_docker/main.py
  examples/gdrive_text_embedding/main.py
  examples/image_search/colpali_main.py
  examples/image_search/main.py
  examples/manuals_llm_extraction/main.py
  examples/multi_format_indexing/main.py
  examples/paper_metadata/main.py
  examples/patient_intake_extraction/main.py
  examples/pdf_embedding/main.py
  examples/postgres_source/main.py
  examples/text_embedding/main.py
  examples/text_embedding_qdrant/main.py
  python/cocoindex/functions/__init__.py
Due: maturin-develop, mypy-check

test
  .github/workflows/_test.yml
  examples/image_search/main.py
Due: mypy-check

refactor: don't use pydantic
  examples/image_search/main.py
Due: mypy-check
